/* Tags */
body {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    
}

h2 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 2.5rem;
}

h3 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}



/* Classes */

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 200px;
    width: 10.9376rem;
    height: auto;

}


.bottom-container {}


.middle-container {}


.mountains {
    width: 400px;
    height: auto;
    
}

.top-cloud {
    position: absolute;
    right: 350px;
    top: 100px;
    width: 10.9376rem;
    height: auto;
}


.top-container {
    background-color: #BBE1FA;
    position: relative;
    padding-top: 100px;
    height: 502px;
    width: auto;
}