/* Tags */

a {
    color: #BBE1FA;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}


a:hover {
    color: #0F4C75;
}


body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}


h1 {
    margin: 50px auto 0 auto;
    color: #3282B8;
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
}


h2 {
    color: #3282B8;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;

}


h3 {
    color: #0F4C75;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}


hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}


p {
    line-height: 2;
}


/* Classes */

.app-icon {
    width: 25%;
    float: left;
    margin-right: 30px;
}


.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 200px;
    height: auto;
    width: 10.9376rem;

}


.bottom-container {
    background-color: #3282B8;
    padding: 50px 0 20px;
}


.btn {
    background: #0F4C75;
    background-image: -webkit-linear-gradient(top, #0F4C75, #3282B8);
    background-image: -moz-linear-gradient(top, #0F4C75, #3282B8);
    background-image: -ms-linear-gradient(top, #0F4C75, #3282B8);
    background-image: -o-linear-gradient(top, #0F4C75, #3282B8);
    background-image: linear-gradient(to bottom, #0F4C75, #3282B8);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}


.btn:hover {
    background: #BBE1FA;
    background-image: -webkit-linear-gradient(top, #BBE1FA, #3282B8);
    background-image: -moz-linear-gradient(top, #BBE1FA, #3282B8);
    background-image: -ms-linear-gradient(top, #BBE1FA, #3282B8);
    background-image: -o-linear-gradient(top, #BBE1FA, #3282B8);
    background-image: linear-gradient(to bottom, #BBE1FA, #3282B8);
    text-decoration: none;
}


.contact-me-paragraph {
    width: 30%;
    margin: 40px auto 60px auto;
}

.copyright {
    color: #BBE1FA;
    font-size: 0.75rem;
    padding: 20px 0;
}

.footer-link {
    margin-left: 10px;
    margin-right: 10px;
}


.game-console-icon {
    width: 25%;
    float: right;
    margin-right: 30px;
}


.intro-paragraph {
    width: 30%;
    margin: auto;
}


.middle-container {
    margin: 100px 0;
}


.mountains {
    width: 400px;
    height: auto;

}


.skill-row {
    height: auto;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}


.top-cloud {
    position: absolute;
    top: 70px;
    right: 350px;
    height: auto;
    width: 10.9376rem;
}


.top-container {
    background-color: #BBE1FA;
    position: relative;
    padding-top: 100px;
    height: 502px;
    width: auto;
}


.underline {
    text-decoration: underline;
}


.website-mountain-icon {
    width: 25%;
    float: left;
    margin-right: 30px;
}