/* Tags */
body {
    margin: 0px;
}

h1 {
    margin-top: 0px;
}


/* Classes */
.top-container {
    background-color: #BBE1FA;
}

.middle-container {
    background-color: #3282B8;
    height: 200px;
    width: 200px;
}

.bottom-container {
    background-color: #0F4C75;
    height: 200px;
    width: 200px;
}